* {
    cursor: none !important;
}

@media screen and (max-width: 980px) {
	.cursor, .cursor::after {
		display: none !important; 
	}
	
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.8;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  -webkit-transition: background-color 300ms linear, transform 0.2s ease-out;
  -ms-transition: background-color 300ms linear, transform 0.2s ease-out;
  transition: background-color 300ms linear, transform 0.2s ease-out;
}

.cursor::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  width: 20px;
  height: 20px;
  animation: pulseBlack 2s infinite;
}

@keyframes pulseBlack {
  0% {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
  }
  25% {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
  }
}


.cursorOnBlackBG {
  background-color: white !important;
}

.cursorOnBlackBG::after {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6) !important;;
  animation: pulseWhite 2s infinite !important;
}

@keyframes pulseWhite {
  0% {
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.6);
  }
  25% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.6);
  }
}

.enlarged{
  transform: scale(2) translate(-25%, -25%);
}
