.cgen-glitchContainer .et_pb_image{
	overflow: hidden !important;
}


.glitch1{
    animation: glitch1 1.5s infinite;
}

.glitch2{
    animation: glitch2 2s infinite;
}

.glitch3{
    animation: glitch3 2.5s infinite;
}

/*Keyframes*/

@keyframes glitch1 {
0% {
    transform: none;
    opacity: 1;
}
7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
}
10% {
    transform: none;
    opacity: 1;
}
27% {
    transform: none;
    opacity: 1;
}
30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
}
35% {
    transform: none;
    opacity: 1;
}
52% {
    transform: none;
    opacity: 1;
}
55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
}
50% {
    transform: none;
    opacity: 1;
}
72% {
    transform: none;
    opacity: 1;
}
75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
}
80% {
    transform: none;
    opacity: 1;
}
100% {
    transform: none;
    opacity: 1;
}
}

@keyframes glitch2 {
0% {
    transform: none;
    opacity: 0.25;
}
7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
}
10% {
    transform: none;
    opacity: 0.25;
}
27% {
    transform: none;
    opacity: 0.25;
}
30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
}
35% {
    transform: none;
    opacity: 0.25;
}
52% {
    transform: none;
    opacity: 0.25;
}
55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
}
50% {
    transform: none;
    opacity: 0.25;
}
72% {
    transform: none;
    opacity: 0.25;
}
75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
}
80% {
    transform: none;
    opacity: 0.25;
}
100% {
    transform: none;
    opacity: 0.25;
}
}

@keyframes glitch3 {
0% {
    transform: none;
    opacity: 0.25;
}
7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
}
10% {
    transform: none;
    opacity: 0.25;
}
27% {
    transform: none;
    opacity: 0.25;
}
30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
}
35% {
    transform: none;
    opacity: 0.25;
}
52% {
    transform: none;
    opacity: 0.25;
}
55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
}
50% {
    transform: none;
    opacity: 0.25;
}
72% {
    transform: none;
    opacity: 0.25;
}
75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
}
80% {
    transform: none;
    opacity: 0.25;
}
100% {
    transform: none;
    opacity: 0.25;
}
}