.image-container {
    overflow-x: hidden;
    width: 100%;
    padding: 4vh 0 6vh 0;
}
.image-wrapper {
    width: 125%;
    margin-left: -11%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25vw;
    position: relative;
    left: 0;
    transition: .3s;
}
.image-wrapper > * {
    aspect-ratio: 3/4;
}

.cgen-container {
  position: relative;
  display: inline-block;
  overflow: visible;
  width: 21.5vw;
}

.cgen-image-container {
  position: relative;
}

.cgen-caroussel--img {
  border: 1px black solid;
  transition: transform 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  aspect-ratio: .65;
}

.cgen-caroussel--img img {
  display: block;
  object-fit: cover;
  width: 21.5vw;
  height: 33vw;
}

.cgen-container:hover .cgen-caroussel--img {
  transform: scale(1.11);
}

.cgen-caroussel--txt {
  position: absolute;
  width: 80%;
  /* text-align: right;¨*/
  background-color: black;
  bottom: -2% !important;
  left: -2% !important;
  transform: rotate(0deg) !important;
  padding: 3px 4px 9px 4px !important;
}

.cgen-caroussel--txt p {
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5vw;
  color: #FFFFFF !important;
  letter-spacing: 5px;
}

.cgen-container:before {
  content: "";
  position: absolute;
  bottom: -4%;
  left: -5%;
  width: 90%;
  height: 82%;
  transform-origin: top right;
  z-index: -1;
  background-color: black;
  opacity: .45;
  transform: rotate(0deg) !important;
}
  
  /* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cgen-container {
    width: 28vw;
  }
  .image-wrapper {
    width: 133%;
    margin-left: -14%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
  }
.cgen-caroussel--txt p {
    font-size: 2.2vw;
  }
  .cgen-caroussel--img img {
    width: 28vw;
    height: 43.5vw;
  }
}
  
/* Smartphone */
@media screen and (max-width: 767px) {
  .cgen-container {
    width: 42vw;
  }
  .image-wrapper {
    width: 150%;
    margin-left: -22%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50vw;
  }
  .cgen-caroussel--txt p {
    font-size: 3vw;
  }
  .cgen-caroussel--img img {
    width: 42vw;
    height: 64.5vw;
  }
}