 
.logo img{
	width: 80px;
	height: 21px;
}

@media only screen and (max-width: 980px) {
	.logo img{
		width: 50px;
		height: 13px;
	}
}

  .fullwidth-menu {
  opacity: 0;
  top: 0vh;
  visibility: hidden;
}



.line{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  opacity: 1;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.fullwidth-open.open .line{
  background: white; 
}

.line-1 {
  top: 15px;    
}

.line-2 {
  top: 25px;
  width: 80%;
}

.line-3 {
  top: 35px;
  width: 50%;
}

.fullwidth-open.open .line-1 {
  top: 25px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.fullwidth-open.open .line-2 {
  display: none;
}

.fullwidth-open.open .line-3 {
  top: 25px;
  width: 100%;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.fullwidth-menu-open {
  opacity: 1 !important;
  top: 0 !important;
  visibility: visible !important;
}

.fullwidth-menu {
  -webkit-transition: all 0.4s ease !important;
  -moz-transition: all 0.4s ease !important;
  -o-transition: all 0.4s ease !important;
  -ms-transition: all 0.4s ease !important;
  transition: all 0.4s ease !important;
}

.main-menu-item ul {
  display: none; 
  padding: 0;
  margin-top: 2vh;
}

.toggle-sub-menu {
  cursor: pointer;
}
  
.displayNone{
    display: none;
}
  
  
.cgen-languageSwitch ul{
	width: 6em;
}

.cgen-languageSwitch .et_pb_text_inner, .cgen-languageSwitch .cgen-languageSwitch--a{
	width: 100%;
    height: 100%;
    display: block;
}

@media only screen and (max-width: 980px) {
	.et_pb_column--with-menu{
		left: 10px;
		top: 7px;
	}
}

.cgen-menuIcons--menuOpen .et_pb_menu__icon{
	color: white !important;
}

.cgen-menuIcons--menuOpen{
	filter: brightness(0) invert(1);
}

.et_pb_menu__menu, .et_mobile_nav_menu{
	display: none !important;
}

.et_pb_menu__wrap{
	display: flex !important;
    flex-direction: column !important;
}

.et_pb_menu__icon{
	margin: 6px 0;
}

.cgen-languageSwitch{
	background-image: url(https://www.belgae.be/wp-content/uploads/sites/2/2023/06/belgae_languageswitcher_4.png);
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	display: block;
	width: 26px;
	height: 26px;
    position: absolute;
    right: 131px !important;
    top: 23px !important;
	left: unset !important;
    bottom: unset !important;
}

@media only screen and (max-width: 980px) {
	.cgen-languageSwitch{
		top: 8px!important;
	}
}